@page
@model ResortRecomendationGenerator.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "RRG - Register";
}

<div class="text-center text-light">
    <div class="row">
        <h1 class="col-12">Create an Account</h1>
    </div>
    <form id="RegisterForm" method="post">
        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="form-floating col-4">
                <input id="FirstName" name="firstName" class="form-control" placeholder=" " />
                <label for="FirstName" class="form-label text-dark ms-2">First Name</label>
                <span id="FirstNameValidation" class="text-danger"></span>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="form-floating col-4">
                <input id="LastName" name="lastName" class="form-control" placeholder=" " />
                <label for="LastName" class="form-label text-dark ms-2">Last Name</label>
                <span id="LastNameValidation" class="text-danger"></span>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="form-floating col-4">
                <input id="Phone" name="phone" class="form-control" placeholder=" " />
                <label for="Phone" class="form-label text-dark ms-2">Phone</label>
                <span id="PhoneValidation" class="text-danger"></span>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="form-floating col-4">
                <input id="Email" name="email" class="form-control" placeholder=" " />
                <label for="Email" class="form-label text-dark ms-2">Email</label>
                <span id="EmailValidation" class="text-danger"></span>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="form-floating col-4">
                <input id="Password" name="password" class="form-control" placeholder=" " type="password" />
                <label for="Password" class="form-label text-dark ms-2">Password</label>
                <span id="PasswordValidation" class="text-danger"></span>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="form-floating col-4">
                <input id="ConfirmPassword" name="confirmPassword" class="form-control" placeholder=" " type="password" />
                <label for="ConfirmPassword" class="form-label text-dark ms-2">Confirm Password</label>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-2">
            <div class="col-4"></div>
            <span id="ErrorMessage" class="col-4 text-danger"></span>
            <div class="col-4"></div>
        </div>
        <div class="row mt-3">
            <div class="col-4"></div>
            <button id="BtnRegister" type="button" class="col-4 btn btn-success" disabled>Register</button>
            <div class="col-4"></div>
        </div>
        <div class="row mt-2">
            <div class="col-4"></div>
            <span class="col-4">Already have an account? <a class="link-primary" href="/Index">Login</a></span>
            <div class="col-4"></div>
        </div>
    </form>
</div>

@section Modals {


    <div class="modal fade" id="OtpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="OtpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="OtpModalLabel"></h1>
                </div>
                <div id="OtpModalBody" class="modal-body container">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col form-floating">
                            <input id="Otp" class="form-control" placeholder=" " type="text" />
                            <label for="Otp" class="form-label ms-2">One Time Password</label>
                            <span id="OtpValidation" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="BtnClearOtp" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="BtnSubmitOtp" type="button" class="btn btn-success">Check OTP</button>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {

    <script src="~/js/ConfirmPassword.js"></script>

    <script src="~/js//RegisterHandler.js" type="module"></script>

}