#MainIcon {
    width: 150px;
    height: auto;
}

.navbar {
    background-color: #121212;
    border-bottom: 1px solid #555555;
}

body {
    background-color: #212121;
}

.footer {
    background-color: #121212;
    border-top: 1px solid #555555;
}