@page
@model ResortRecomendationGenerator.Web.Pages.Private.Admin.DashboardModel
@{
    ViewData["Title"] = "RRG - Admin";
}

@section Styles {

    <style>
        .resort-list-item {
            background-color: slategray;
            border: 1px solid black;
        }

        #ResortListContainer {
            max-height: 99vh;
        }
    </style>

}

<div class="text-center text-light">
    <div class="row">
        <h1 class="col-12">Admin</h1>
    </div>
    <div class="row mt-2">
        <div class="col container me-1">
            <div class="row">
                <h3 class="col-12">Resort List</h3>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center align-content-center">
                    <button id="BtnOpenAddResortModal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddResortModal">Add Resort</button>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row mt-2">
                <div class="col-2"></div>
                <div class="col-8 form-floating">
                    <input id="TxtResortSearch" class="form-control" placeholder=" " />
                    <label for="TxtResortSearch" class="form-label text-dark ms-2">Search</label>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row mt-3">
                @Html.AntiForgeryToken()
                <div id="ResortListContainer" class="col-12 mx-1 overflow-auto container"></div>
            </div>
        </div>
        <div class="col container ms-1">
            <div class="row">
                <h3 class="col-12">Potential Resorts</h3>
            </div>
            <div class="row mt-3">
                <div id="PotentialResortListContainer" class="col-12 mx-1 overflow-auto container"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/AdminDashboard.js" type="module"></script>

}

@section Modals {

    <div class="modal fade" id="AddResortModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddResortModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="AddResortModalLabel">Add Resort</h1>
                </div>
                <div class="modal-body container">
                    <form id="AddResortForm">
                        @Html.AntiForgeryToken()                        
                        <div class="row">
                            <div class="col-12 form-floating">
                                <input id="TxtNewResortName" name="name" class="form-control" type="text" placeholder=" " />
                                <label for="TxtNewResortName" class="form-label text-dark ms-2">Name</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 form-floating">
                                <input id="TxtNewResortElevation" name="elevation" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortElevation" class="form-label text-dark ms-2">Elevation</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 form-floating">
                                <input id="TxtNewResortTotalRuns" name="totalRuns" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortTotalRuns" class="form-label text-dark ms-2">Total Run #</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4 form-floating">
                                <input id="TxtNewResortGreenPercent" name="greenPercent" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortGreenPercent" class="form-label text-dark ms-2">Green Run %</label>
                            </div>
                            <div class="col-4 form-floating">
                                <input id="TxtNewResortBluePercent" name="bluePercent" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortBluePercent" class="form-label text-dark ms-2">Blue Run %</label>
                            </div>
                            <div class="col-4 form-floating">
                                <input id="TxtNewResortBlackPercent" name="blackPercent" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortBlackPercent" class="form-label text-dark ms-2">Black Run %</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 form-floating">
                                <input id="TxtNewResortTerrainParkNum" name="terrainParkNum" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortTerrainParkNum" class="form-label text-dark ms-2">Terrain Park #</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6 form-floating">
                                <input id="TxtNewResortSnowmakingCoverage" name="snowmakingCoverage" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortSnowmakingCoverage" class="form-label text-dark ms-2">Snowmaking Coverage %</label>
                            </div>
                            <div class="col-6 form-floating">
                                <input id="TxtNewResortSkiableAcres" name="skiableAcres" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortSkiableAcres" class="form-label text-dark ms-2">Skiable Acres</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 form-floating">
                                <input id="TxtNewResortNumLifts" name="numLifts" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortNumLifts" class="form-label text-dark ms-2">Lift #</label>
                            </div>
                        </div>
                        <div class="row mt-2 ms-2">
                            <div class="col-12 form-check">
                                <input id="ChkNewResortIsEpicPass" name="isEpicPass" class="form-check-input" type="checkbox" value="" />
                                <label for="ChkNewResortIsEpicPass" class="form-check-label text-dark">Epic Pass</label>
                            </div>
                            <div class="col-12 form-check">
                                <input id="ChkNewResortIsIkonPass" name="isIkonPass" class="form-check-input" type="checkbox" value="" />
                                <label for="ChkNewResortIsIkonPass" class="form-check-label text-dark">Ikon Pass</label>
                            </div>
                            <div class="col-12 form-check">
                                <input id="ChkNewResortIsIndyPass" name="isIndyPass" class="form-check-input" type="checkbox" value="" />
                                <label for="ChkNewResortIsIndyPass" class="form-check-label text-dark">Indy Pass</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 form-floating">
                                <textarea id="TxtNewResortDescription" name="description" class="form-control" placeholder=" " style="height: 100px"></textarea>
                                <label for="TxtNewResortDescription" class="form-label ms-2">Description</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6 form-floating">
                                <input id="TxtNewResortLatitude" name="latitude" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortLatitude" class="form-label text-dark ms-2">Latitude</label>
                            </div>
                            <div class="col-6 form-floating">
                                <input id="TxtNewResortLongitude" name="longitude" class="form-control" type="number" placeholder=" " />
                                <label for="TxtNewResortLongitude" class="form-label text-dark ms-2">Longitude</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="BtnClearNewResortForm" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="BtnSubmitNewResortForm" type="button" class="btn btn-success">Save New Resort</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EditResortModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EditResortModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="EditResortModalLabel">Edit Resort</h1>
                </div>
                <div id="EditResortFormContainer" class="modal-body container">
                    <form id="EditResortForm">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-12 form-floating">
                                <input id="TxtEditResortName" name="name" class="form-control" type="text" placeholder=" " />
                                <label for="TxtEditResortName" class="form-label text-dark ms-2">Name</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 form-floating">
                                <input id="TxtEditResortElevation" name="elevation" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortElevation" class="form-label text-dark ms-2">Elevation</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 form-floating">
                                <input id="TxtEditResortTotalRuns" name="totalRuns" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortTotalRuns" class="form-label text-dark ms-2">Total Run #</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4 form-floating">
                                <input id="TxtEditResortGreenPercent" name="greenPercent" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortGreenPercent" class="form-label text-dark ms-2">Green Run %</label>
                            </div>
                            <div class="col-4 form-floating">
                                <input id="TxtEditResortBluePercent" name="bluePercent" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortBluePercent" class="form-label text-dark ms-2">Blue Run %</label>
                            </div>
                            <div class="col-4 form-floating">
                                <input id="TxtEditResortBlackPercent" name="blackPercent" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortBlackPercent" class="form-label text-dark ms-2">Black Run %</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 form-floating">
                                <input id="TxtEditResortTerrainParkNum" name="terrainParkNum" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortTerrainParkNum" class="form-label text-dark ms-2">Terrain Park #</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6 form-floating">
                                <input id="TxtEditResortSnowmakingCoverage" name="snowmakingCoverage" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortSnowmakingCoverage" class="form-label text-dark ms-2">Snowmaking Coverage %</label>
                            </div>
                            <div class="col-6 form-floating">
                                <input id="TxtEditResortSkiableAcres" name="skiableAcres" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortSkiableAcres" class="form-label text-dark ms-2">Skiable Acres</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 form-floating">
                                <input id="TxtEditResortNumLifts" name="numLifts" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortNumLifts" class="form-label text-dark ms-2">Lift #</label>
                            </div>
                        </div>
                        <div class="row mt-2 ms-2">
                            <div class="col-12 form-check">
                                <input id="ChkEditResortIsEpicPass" name="isEpicPass" class="form-check-input" type="checkbox" value="" />
                                <label for="ChkEditResortIsEpicPass" class="form-check-label text-dark">Epic Pass</label>
                            </div>
                            <div class="col-12 form-check">
                                <input id="ChkEditResortIsIkonPass" name="isIkonPass" class="form-check-input" type="checkbox" value="" />
                                <label for="ChkEditResortIsIkonPass" class="form-check-label text-dark">Ikon Pass</label>
                            </div>
                            <div class="col-12 form-check">
                                <input id="ChkEditResortIsIndyPass" name="isIndyPass" class="form-check-input" type="checkbox" value="" />
                                <label for="ChkEditResortIsIndyPass" class="form-check-label text-dark">Indy Pass</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 form-floating">
                                <textarea id="TxtEditResortDescription" name="description" class="form-control" placeholder=" " style="height: 100px"></textarea>
                                <label for="TxtEditResortDescription" class="form-label ms-2">Description</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6 form-floating">
                                <input id="TxtEditResortLatitude" name="latitude" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortLatitude" class="form-label text-dark ms-2">Latitude</label>
                            </div>
                            <div class="col-6 form-floating">
                                <input id="TxtEditResortLongitude" name="longitude" class="form-control" type="number" placeholder=" " />
                                <label for="TxtEditResortLongitude" class="form-label text-dark ms-2">Longitude</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="BtnClearEditResortForm" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="BtnSubmitEditResortForm" type="button" class="btn btn-success">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PotentialResortModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="PotentialResortHeading" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="PotentialResortHeading"></h1>
                </div>
                <div id="PotentialResortModalBody" class="modal-body container">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col">Elevation:</div>
                        <div id="PotentialResortElevation" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Total Runs:</div>
                        <div id="PotentialResortTotalRuns" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Green Percent:</div>
                        <div id="PotentialResortGreenPercent" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Blue Percent:</div>
                        <div id="PotentialResortBluePercent" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Black Percent:</div>
                        <div id="PotentialResortBlackPercent" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Terrain Parks:</div>
                        <div id="PotentialResortTerrainParkNum" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Snowmaking Coverage:</div>
                        <div id="PotentialResortSnowmakingCoverage" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Skiable Acres:</div>
                        <div id="PotentialResortSkiableAcres" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Lifts:</div>
                        <div id="PotentialResortNumLifts" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Epic Pass:</div>
                        <div id="PotentialResortIsEpicPass" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Ikon Pass:</div>
                        <div id="PotentialResortIsIkonPass" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Indy Pass:</div>
                        <div id="PotentialResortIsIndyPass" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Description:</div>
                        <div id="PotentialResortDescription" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Latitude:</div>
                        <div id="PotentialResortLatitude" class="col"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">Longitude:</div>
                        <div id="PotentialResortLongitude" class="col"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="BtnClearPotentialResortModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="BtnAcceptPotentialResort" type="button" class="btn btn-success">Accept</button>
                    <button id="BtnRejectPotentialResort" type="button" class="btn btn-danger">Reject</button>
                </div>
            </div>
        </div>
    </div>

}