@page
@model ResortRecomendationGenerator.Web.Pages.Private.HomeModel
@{
    ViewData["Title"] = "RRG - Welcome";
}

@section Styles {

    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />

    <style>

        #map {
            height: 600px;
            width: 100%;
        }

        .leaflet-popup-content .leaflet-popup-content-wrapper {
            max-width: 500px;
        }

    </style>

}


@{
    var name = $"{Model.CurrentAccount.FirstName} {Model.CurrentAccount.LastName}";
}

<div class="text-center text-light">
    <div class="row">
        <h1 class="col-12">Welcome @name</h1>
    </div>
    <div class="row mt-2">
        <div class="col-8 container">
            <div class="row">
                <h3 class="col-12">Our Resorts</h3>
            </div>
            <div class="row text-start">
                <div id="map"></div>
            </div>
        </div>
        <div class="col-4 text-start">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-dark">User Info</h5>
                            @if (Model.CurrentAccount.IsAdmin)
                            {
                                <h6 class="card-subtitle mb-2 text-danger">ADMIN</h6>
                            }
                            <h6 class="card-subtitle mb-2 text-secondary">@name</h6>
                            <h6 class="card-subtitle mb-2 text-secondary">Email: @Model.CurrentAccount.Email</h6>
                        </div>
                        <div class="card-footer">
                            <a class="card-link" asp-page="/Private/MyApiKeys">My API Keys</a>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/lib/leaflet/leaflet.js"></script>

    <script src="~/js/MapHandler.js" type="module"></script>

}